(
    focus_right: Some(( code: Char('l'), modifiers: ( bits: 0,),)),
    focus_left: Some(( code: Char('h'), modifiers: ( bits: 0,),)),
    focus_up: Some(( code: Char('k'), modifiers: ( bits: 0,),)),
    focus_down: Some(( code: Char('j'), modifiers: ( bits: 0,),)),
    exit: Some(( code: Char('q'), modifiers: ( bits: 0,),)),
)