[Unit]
Description=Taffybar desktop bar
PartOf=tray.target
StartLimitBurst=5
StartLimitIntervalSec=10

[Service]
Type=dbus
BusName=org.taffybar.Bar
ExecStart=@taffybar@/bin/taffybar
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=tray.target