[Service]
ExecStart=@isync@/bin/mbsync --all --verbose --config /home/user/.config/mbsync/config
Type=oneshot

[Unit]
Description=mbsync mailbox synchronization