[Install]
WantedBy=timers.target

[Timer]
OnActiveSec=1
OnUnitInactiveSec=60
Unit=unison-pair-custom-sync.service

[Unit]
Description=Unison pair sync auto-restart (custom-sync)
