[Service]
BusName=org.freedesktop.Notifications
Environment=WAYLAND_DISPLAY=wayland-1
ExecStart=@dunst@/bin/dunst
Type=dbus

[Unit]
After=graphical-session.target
Description=Dunst notification daemon
PartOf=graphical-session.target