[Service]
ExecStart=@vdirsyncer@/bin/vdirsyncer --verbosity INFO --config /custom/path/vdirsyncer-config metasync
ExecStart=@vdirsyncer@/bin/vdirsyncer --verbosity INFO --config /custom/path/vdirsyncer-config sync
Type=oneshot

[Unit]
Description=vdirsyncer calendar&contacts synchronization
PartOf=network-online.target
