[Install]
WantedBy=graphical-session.target

[Service]
Environment=PATH=/home/hm-user/.nix-profile/bin
ExecStart=@nextcloud-client@/bin/nextcloud

[Unit]
After=graphical-session.target
Description=Nextcloud Client
PartOf=graphical-session.target